currenttime/src/main/mule/currenttime.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="253f1ecb-d75a-4a37-b120-5ba47f40afb4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="currenttimeFlow" doc:id="eea44364-acab-4b50-a606-d7a88b33bbcb" >
		<http:listener doc:name="Listener" doc:id="bf3fb61a-2137-4ab1-8585-4ecf69e51678" config-ref="HTTP_Listener_config" path="/time"/>
		<logger level="INFO" doc:name="Logger" doc:id="d8846d8c-b277-475d-b606-f21cd7233e90" message="*** Process got triggered ***"/>
		<ee:transform doc:name="Transform Message" doc:id="44e1c872-4fe7-41bc-bd79-bd3ac540dae6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
now()]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b79a8482-364d-4417-b61d-9d6f3f980ae1" message="#[payload]"/>
	</flow>
</mule>
